<div class="outer ">
  <div class="top">
    <div class="container">
      <div class="row text-right" >
        <button type="button" class="btn btn-custom-dark" name="button" ng-click="modalOpen('requestExecution.html')">REQUEST EXECUTION</button>
      </div>
      <div class="row">

        <!-- COLUMN ONE NAMED VIEW -->
        <div class="col-md-3 tree-div null-pad">
          <div ui-view="treeView"></div>
        </div>

        <!-- COLUMN TWO NAMED VIEW -->
        <div class="col-md-9  null-pad">
          <div id="detailView" ui-view="detailView"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="requestExecution.html">
  <div class="modal-header">
    <h3 class="modal-title">REQUEST EXECUTION</h3>
  </div>
  <div class="modal-body">
    <div class="modal-content-wrapper">
      <div class="col-md-6">
        <div class="form-group has-feedback">
          <label for="">Choose Platform</label>
          <input type="text" class="form-control" placeholder="Project Name"/>
        </div>
      </div>
      <div class="col-md-6">
          <label for="">Choose Browsers</label>
          <div class="">
            <span><i ng-repeat="browser in $parent.browsers" class="fa fa-{{browser}} fa-2x"></i></span>
          </div>
          <a href="#">request additional browser support</a>
      </div>
    <div class="col-md-12 text-center mar-right-20 mar-top-20">
      <button class="btn btn-custom-light" type="button" ng-click="proceed()">CANCEL</button>
      <button class="btn btn-custom-dark" type="button" ng-click="proceed()">RUN TEST</button>
    </div>
  </div>
</script>
